<div class="sidepanel" [class.open]="showPanel">
  <div class="sidepanel__content">
    <div class="sidepanel__header">
      <h2>Je winkelmandje</h2>
      <button class="close-button" (click)="closePanel()"></button>
    </div>
    <ng-container *ngIf="shoppingCart.listOfItems.length > 0; else showText">
      <div *ngFor="let item of shoppingCart.listOfItems">
        <app-sidepanel-item [item]="item"></app-sidepanel-item>
      </div>
      <p class="sidepanel__total">
        Totaal: {{ shoppingCart.totalAmount | currency : "EUR" : true }}
      </p>
    </ng-container>
    <ng-template #showText> Je winkelmandje is leeg. </ng-template>
  </div>
</div>
