<div class="item">
  <div class="item__image-box">
    <img class="item__image" [src]="item.image" />
  </div>
  <div class="item__content-box">
    <div class="item__title">
      <h3>
        {{ item.name }}
      </h3>
      <button class="item__button" (click)="removeFromCart(item)">
        Verwijderen
      </button>
    </div>
    <p>Prijs: {{ item.price | currency : "EUR" : true }}</p>
    <div *ngIf="!showBox" class="item__quantity">
      Aantal: {{ item.quantity ? item.quantity : 1 }}
      <button class="item__button" (click)="showPlusMinus()">Aanpassen</button>
    </div>
    <div *ngIf="showBox" class="plusminus">
      <button
        [ngClass]="isMinusClicked ? 'plusminus__button--click' : ''"
        class="plusminus__button"
        (click)="detract()"
        type="button"
      >
        -
      </button>
      <input class="plusminus__input" type="text" [value]="item.quantity" />
      <button
        [ngClass]="isPlusClicked ? 'plusminus__button--click' : ''"
        class="plusminus__button"
        (click)="add()"
        type="button"
      >
        +
      </button>
      <button
        [ngClass]="isUpdateClicked ? 'plusminus__button--click' : ''"
        class="plusminus__button"
        style="margin-left: 1rem"
        (click)="updateQuantity()"
        type="button"
      >
        Toevoegen
      </button>
    </div>
  </div>
</div>
