@mixin media-screen-m-down {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin media-screen-m-up {
  @media (min-width: 900px) {
    @content;
  }
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: large;
  font-weight: 600;
}

h3 {
  font-size: medium;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
